<div style="font-size: 15px;color: rgb(47,41,54);padding: 0;font-family: Helvetica Neue,Helvetica, sans-serif;width: 100%;font-weight: 400;margin: 0;background-color: rgb(255,255,255); background: #ffffff;">
    <div style="padding: 0;font-size: 0;display: none;max-height: 0;font-weight: 400;line-height: 0;"></div>
    <table style="border-radius: 4px;font-size: 15px;color: rgb(47,41,54);border-collapse: separate;border-spacing: 0;max-width: 700px;font-family: Helvetica Neue, helvetica, sans-serif;border: 1.0px solid rgb(199,208,212);padding: 0;width: 100%;font-weight: 400;margin: 15.0px auto;background-color: rgb(255,255,255);">
        <tbody>
            <tr style="font-weight: 400;">
                <td style="padding: 0;font-weight: 400;margin: 0;text-align: center;">
                    <div style="padding: 25px 0 0 0;font-size: 14px;font-weight: 400;border-bottom: 1.0px solid rgb(222,231,235);">
                        <div style="padding: 0 20px;max-width: 600px;font-weight: 400;margin: 0 auto;text-align: left;">
                            <table style="width: 100%;font-weight: 400;margin-bottom: 0;border-collapse: collapse;">
                                <tbody>
                                    <tr style="font-weight: 400;">
                                        <td
                                            width="125px"
                                            style="padding: 0;font-weight: 400;margin: 0;text-align: center;"
                                        >
                                            <h1 style="font-size: 38px;color: rgb(0,0,0);letter-spacing: -1px;padding: 0;font-weight: normal;margin: 0;line-height: 42px;">
                                                <a
                                                    href="https://radarlaunch.app"
                                                    style="color: rgb(0, 0, 0);font-weight: 500;text-decoration: none;"
                                                    target="_blank"
                                                >
                                                    <img
                                                        src="https://uploads-ssl.webflow.com/64548f6f8feacfafa79c9592/645ddcb1ed7bc34887f6efc9_Asset%204%402x-8.png"
                                                        height="50px"
                                                        alt="RADAR"
                                                        style="font-weight: 400;"
                                                    />
                                                </a>
                                            </h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="font-weight: 400;">
                <td style="padding: 0;font-weight: 400;margin: 0;text-align: center;">
                    <div style="padding: 0 20px;max-width: 600px;font-weight: 400;margin: 0 auto;text-align: left;">
                        <div style="padding: 30.0px 0 20px;font-weight: 400;background-color: rgb(255,255,255);">
                            <h3 style="font-size: 22px;font-weight: 500;margin: 0 0 20px;">
                                $HEADER
                            </h3>
                            <p style="font-weight: 400;margin: 0 0 20px;font-size: 15px;line-height: 22px;">
                                $BODY
                            </p>
                            <p style="font-weight: 400;margin: 0 0 20px;font-size: 15px;line-height: 22px;">
                                Much love,
                                <br />
                                The RADAR Team
                            </p>
                        </div>
                    </div>

                    <div style="max-width: 600px;padding: 0 20px; font-weight: 400;margin: 0 auto;text-align: left;">
                        <div style="padding: 20px 0 40px 0;border-top: 1px solid rgb(231,235,238);font-weight: 400;">
                            <a
                                href="https://radarlaunch.app"
                                style="cursor: pointer; color: rgb(104,114,118);font-weight: 500;text-decoration: none;"
                                target="_blank"
                            >
                                Home Page
                            </a>
                            <a
                                href="https://www.launch.radardao.xyz/faqs"
                                style="cursor: pointer; color: rgb(104,114,118);float: right;font-weight: 500;text-decoration: none;"
                                target="_blank"
                            >
                                FAQ
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>;
